<html>
    <head>
        <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->

        <title>
            Order Page
         </title>   
    </head>
    <body>
<table border = '2' id = 'data_table'>
                <tr align="center">
                    <td>
                        Name     
                    </td>
                    <td>
                        Address
                    </td>
                    <td>
                        Email
                    </td>
                </tr>
                {% for data in order_data %}
                <tr id='record'>
                    <td>
                        {{data.firstname}} &nbsp; {{data.lastname}}    
                    </td>
                    <td>
                        {{data.address_street}} &nbsp;
                        {{data.address_landmark}} &nbsp;
                        {{data.address_pincode}}
                    </td>
                    <td>
                        {{data.email}}
                    </td>
                    <td>
                        <button type="submit">update</button>
                       <a href = '{% url "delete" data.id %}' id = 'del_task'>  delete</a>
                        
                    </td>

                </tr>
                {% endfor %}
        </table>


</body>