<html>
    <head>
        <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->

        <title>
            Order Page
         </title>   
    </head>
    <body>
        <form method = 'POST' id = 'insert'>

            {% csrf_token %} 
        
                    <table>
                        <tr>
                        <td>    
                        <h1>Person Detail</h1>
                        </td>
                        </tr>    
                        
                            <tr>
                                <td>
                                    <h3>First Name</h3>
                                 </td>
                                 <td>
                                    <input type = 'text' id = 'firstname'>
                                 </td>
                                 <td>
                                    <h3>Last Name</h3>
                                 </td>
                                 <td>
                                 </td>
                                 <td>
                                    <input type = 'text' id = 'lastname'>
                                 </td>
            
                            </tr> 
                            
                            <tr>
                                <td>
                                    <h3>Email</h3>
                                 </td>
                                 <td>
                                    <input type = 'text' id = 'email'>
                                 </td>
                            </tr>
            
                            <tr>
                                <td>    
                                <h1>Address Detail</h1>
                                </td>
                            </tr> 
                            
                            <tr>
                                <td>
                                    <h3>Street</h3>
                                 </td>
                                 <td>
                                    <input type = 'text' id = 'street'>
                                 </td>
                            </tr>
            
                            <tr>
                                <td>
                                    <h3>Landmark</h3>
                                 </td>
                                 <td>
                                    <input type = 'text' id = 'landmark'>
                                 </td>
                            </tr>
            
                            <tr>
                                <td>
                                    <h3>Postal Code</h3>
                                 </td>
                                 <td>
                                    <input type = 'text' id = 'postalcode'>
                                 </td>
                            </tr>
            
            
                            <tr>
                                <td>
                                    <button type="submit">Submit</button>
                                 </td>
                                
                                 </tr>
                    </table>
    </form>
        <br><br><br><br>

        <table border = '2' id = 'data_table'>
                <tr align="center">
                    <td>
                        First Name     
                    </td>
                    <td>Last Name</td>
                    <td>
                        Address
                    </td>
                    <td>Landmark</td>
                    <td>Pincode</td>
                    <td>
                        Email
                    </td>
                </tr>
                {% for data in order_data %}
                <tr class='record'>
                    <td class = "firstname">
                        {{data.firstname}} 
                    </td>
                    <td class = "lastname">
                        {{data.lastname}}    
                    </td>
                    <td class = "street">
                        {{data.address_street}}
                    </td>
                    <td class = "landmark">                    
                        {{data.address_landmark}}
                    </td>
                    <td class = "pincode">    
                        {{data.address_pincode}}
                    </td>
                    <td class = "email">
                        {{data.email}}
                    </td>
                    <td>
                        <button data="{{data.id}}" class="edit">Edit</button>
                    </td>
                    <td>
                        <button data="{{data.id}}" class="delete">Delete</button>
                    </td>
                </tr>
                {% endfor %}
        </table>


        
        
    </body>
    <script src="/static/js/jquery-2.2.4.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script>
        let activeItem = null
        function editItem(item){
            var firstname = item.find('.firstname').text()
            var lastname = item.find('.lastname').text()
            var street = item.find('.street').text()
            var landmark = item.find('.landmark').text()
            var pincode = item.find('.pincode').text()
            var email = item.find('.email').text()
            var edit_id = item.find('.edit').attr('data')
            $('#firstname').val(firstname)
            $('#lastname').val(lastname)
            $('#street').val(street)
            $('#landmark').val(landmark)
            $('#postalcode').val(pincode)
            $('#email').val(email)
            activeItem = edit_id
        }

        function deleteItem(delete_id){
            $.ajax({
                type:'GET',
                url:"{% url 'delete' %}",
                data:{
                    'delete_id' : delete_id,

                
                }

            })

        }


        $(document).on('submit', '#insert',function(e){
            e.preventDefault();
            url = '{% url "insert" %}';
            data = {
                    firstname:$('#firstname').val(),
                    lastname:$('#lastname').val(),
                    email:$('#email').val(),
                    street:$('#street').val(),
                    landmark:$('#landmark').val(),
                    postalcode:$('#postalcode').val(),

                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                    action: 'post'
                }


            if(activeItem != null){
                url = '{% url "update" %}';
                data['edit_id'] = activeItem
            }
            $.ajax({
                type:'POST',
                url:url,
                data:data,
                
                success:function(json){
                    document.getElementById("insert").reset();
                    alert("Data Uploaded Successfully");
                }
            });
        });
        $('.edit').click(function(){
            var item = $(this).closest('tr')
            editItem(item)

        })
        $('.delete').click(function(){
            var delete_id = $(this).attr('data')
            console.log(delete_id)
            deleteItem(delete_id)


        })

    </script>

</html>


            
